/demo2/app/target/
/demo2/app/UserSignup.war
/demo2/app/UserSignup.iml
/demo2/app/.DS_Store 
/demo2/app/.classpath
/demo2/app/.project
/demo2/app/out/
/demo2/app/src/main/main.iml
/demo2/app/.idea
/demo2/app/.settings
/demo2/app/.classpath
